body {
  font: 18px/24px Circe, $def-font;

  background: url('../img/bg-promo--desktop.png') no-repeat right 90px,
              #fbebea;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner {
  width: 1220px;
  margin: 0 auto;
}


@media (max-width: 1300px) {
  body {
    background: url('../img/bg-promo--tablet.png') no-repeat right 65px,
                #fbebea;
  }
  .inner {
    width: 676px;
    padding: 0 28px;
    margin: 0 auto;
  }
}


@media (max-width: $mobile-width) {
  body {
    background: #fbebea;
  }
  .inner {
    width: 282px;
    padding: 0 21px;
  }
}