.decoration-list {
  @include reset-list();

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.decoration-list__item {
  display: flex;
  width: 215px;
}

.decoration-list__icon {
  flex-shrink: 0;
  width: 55px;
  margin-right: 12px;

  fill: #f50049;
}

.decoration-list__description {
  width: 148px;
  padding-top: 15px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
}


@media (max-width: $mobile-width) {
  .decoration-list {

  }

  .decoration-list__item {
    margin-bottom: 10px;
  }

  .decoration-list__icon {
    width: 33px;
    height: 33px;
  }

  .decoration-list__description {
    flex-shrink: 0;
    padding-top: 0;
    width: 240px;
  }
}