.page-header {
  padding-top: 55px;
}

.page-header__inner {
  display: flex;
  align-items: flex-start;
}

.page-header__logo {
  width: 85px;
  margin-right: 29px;
}

.page-header__menu-toggle {
  position: relative;
  overflow: hidden;

  display: none;
  box-sizing: content-box;
  width: 26px;
  height: 20px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  border: none;

  background: none;
  cursor: pointer;

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: 0;
    top: 50%;


    width: 26px;
    height: 2px;
    margin-top: -1px;

    background: #000000;
    box-shadow: 0 0 0 6px #ffffff,
                0 0 0 8px #000000;
  }

  &--close {
    &::before,
    &::after {
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.page-header__navigation {
  width: 949px;
  margin-right: 20px;
}

.page-header__phone {
  width: 138px;
  margin-left: auto;
}


@media (max-width: $tablet-width) {
  .page-header {
    position: relative;

    padding-top: 17px;
    padding-bottom: 11px;

   background: #ffffff;
  }

  .page-header__logo {
    width: 65px;
    margin-right: 21px;
  }

  .page-header__menu-toggle {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 5px;
    padding-bottom: 3px;
  }

  .page-header__menu-toggle {
    margin-left: auto;
  }

  .page-header__menu-toggle {
    width: 18px;

    &::before {
      box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000;
    }

    &::before,
    &::after {
      width: 18px;
    }

    &--close {
      &::before,
      &::after {
        box-shadow: none;
      }
    }
  }
}