.page-footer {
  padding-top: 40px;

  background: #e8e8e8;
}

.page-footer__inner {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;

  border-bottom: 1px solid #d0d0d0;
}

.page-footer__logo {
  width: 138px;
  margin-right: 105px;
}

.page-footer__navigation {
  width: 821px;
  padding-top: 5px;
}

.page-footer__social {
  margin-left: auto;
}

.page-footer__about {
  margin: 0;
  padding: 10px;

  vertical-align: middle;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .page-footer {
    color: #ffffff;

    background: #898989;
  }

  .page-footer__social {
    display: none;
  }

  .page-footer__logo {
    width: 60px;
    margin-right: 30px;

    color: #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__inner {
    display: block;
    padding-bottom: 10px;
  }

  .page-footer__logo {
    width: auto;
  }

  .page-footer__navigation {
    width: auto;
  }

  .page-footer__about {
    width: auto;
  }
}