.social {
  @include reset-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social__item {
  margin-right: 18px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background: #ffffff;

  &:hover,
  &:focus {
    box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2);
  }
}

.social__icon {
  fill: #f60f54;

  &--instagram {
    width: 18px;
    height: 18px;

  }

  &--vk {
    width: 30px;
    height: 23px;
  }

  &--twitter {
    width: 22px;
    height: 19px;
  }
}

@media (max-width: $mobile-width) {
  .social__item {
    margin-bottom: 15px;
  }
}